<div>
<a href="http://sourceforge.net/projects/idmunit"><img style="float: left;" src="{{ root_url }}/images/sf_150x40_black-opacity1.gif" width="150" height="40" alt="Get IdMUnit at SourceForge.net. Fast, secure and Free Open Source software downloads" /></a>
<a href="http://www.trivir.com/home"><img style="float:right; height:40px" src="{{ root_url }}/images/TrivirLogoSourceScale.png" alt="TriVir"/></a>
<br/>
<div style="text-align:center;width=100%;">Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}</div>
</div>


