<section>
	<h1>Simplicity Defined</h1>
		<p>I ♦ d ♦ M ♦ Unit [eye-dee-em-you-nit]   -noun [Origin:  IdM is derived from Identity Management, the practice of automating and securing the life cycle for a user or system and their access identity across multiple security domains.  Unit originates from Unit Testing,  the type of testing where an engineer proves that a code module, or unit is working as designed.  IdMUnit is a plug-in to Novell's "Designer for Novell Identity Manager" that facilitates the design, deployment, unit and end-to-end testing of identity management connectors.]</p>
</section>
